### Python datastructures

1. **Lists**
    * store different kind of datatypes
    * ['pandas','dplyr',True,False,-0.1]
    
2. **Dictionary** 
    
    * {'Python': 'pandas', 'R': 'dplyr'}
    * key-value pairs; facilitate quick retrieval based on key
    
3. **Tuples**
    * (0,1.2)
    * immutable objects 
    
4. **Sets**
    * {1,2,3}
    * Cannot contain duplicate value
    
5. **DataFrames**
    * import pandas as pd
    * pd.DataFrame constist of pd.Series

### Lists

In [2]:
mylist = ['apple','NOT AGAIN',
          'strawberry', 'Bob_sponge',"hjbdscjknds",
          'DRAGON','cherry',
          'SKYLIIIIII','watermelon']

In [3]:
type(mylist)

list

In [4]:
len(mylist)

8

In [5]:
mylist[6]

'SKYLIIIIII'

In [6]:
mylist.pop(1)

'NOT AGAIN'

* **pop** changed our initial list

In [7]:
mylist

['apple',
 'PIKACHU',
 'strawberry',
 'Bob_spongeDRAGON',
 'cherry',
 'SKYLIIIIII',
 'watermelon']

In [118]:
red_fruits = mylist[::2]
red_fruits

['apple', 'strawberry', 'cherry', 'watermelon']

* append an items into the list

In [119]:
red_fruits.append('raspberry')

In [120]:
red_fruits

['apple', 'strawberry', 'cherry', 'watermelon', 'raspberry']

In [121]:
green_fruits = ['grape','pear','papaya']
more_fruits = red_fruits + green_fruits
more_fruits

['apple',
 'strawberry',
 'cherry',
 'watermelon',
 'raspberry',
 'grape',
 'pear',
 'papaya']

* enxtend the list by adding a **list** of new items

In [122]:
yellow_fruits = ['mango','melon','apricot']
more_fruits.extend(yellow_fruits)

* list is now extended and contains more items

In [123]:
more_fruits

['apple',
 'strawberry',
 'cherry',
 'watermelon',
 'raspberry',
 'grape',
 'pear',
 'papaya',
 'mango',
 'melon',
 'apricot']

In [124]:
sorted(more_fruits)

['apple',
 'apricot',
 'cherry',
 'grape',
 'mango',
 'melon',
 'papaya',
 'pear',
 'raspberry',
 'strawberry',
 'watermelon']

* order did not change - sorted is not in place operation

In [125]:
more_fruits

['apple',
 'strawberry',
 'cherry',
 'watermelon',
 'raspberry',
 'grape',
 'pear',
 'papaya',
 'mango',
 'melon',
 'apricot']

* How to keep only fruits starting with 'a'

In [278]:
fruits_from_a = []
for x in more_fruits:
    if x[0] == 'a':
        print(f'-----> {x} starts with "a" <-----')
        fruits_from_a.append(x)
    else : 
        print(f'{x} starts with "{x[0]}"')

-----> apple starts with "a" <-----
strawberry starts with "s"
cherry starts with "c"
watermelon starts with "w"
raspberry starts with "r"
grape starts with "g"
pear starts with "p"
papaya starts with "p"
mango starts with "m"
melon starts with "m"
-----> apricot starts with "a" <-----

In [279]:
fruits_from_a

['apple', 'apricot']

* Alternatively, we can use list comprehensions

In [126]:
fruits_starts_a = [x for x in more_fruits if x.startswith('a')]
fruits_starts_a

['apple', 'apricot']

* another **List Comprehension** example
* Check existence

In [131]:
not_green_fruits = [x for x in more_fruits if x not in green_fruits]
not_green_fruits

['apple',
 'strawberry',
 'cherry',
 'watermelon',
 'raspberry',
 'mango',
 'melon',
 'apricot']

### Sets

* How to get yellow fruits using set operations
* Set : not_green_fruits - red_fruits

In [232]:
yellow_fruits_set = set(not_green_fruits).difference(red_fruits)
yellow_fruits_set

{'apricot', 'mango', 'melon'}

In [233]:
type(yellow_fruits_set)

set

In [238]:
list(yellow_fruits_set) * 3

['apricot',
 'melon',
 'mango',
 'apricot',
 'melon',
 'mango',
 'apricot',
 'melon',
 'mango']

In [237]:
set(list(yellow_fruits_set) * 3)

{'apricot', 'mango', 'melon'}

### Dictionary

In [182]:
lang = {1:'Python',2:'R',3:'Julia',4:'Javascript',5:'SQL'}

In [183]:
lang[1]

'Python'

In [194]:
for x in range(5):
    print('Semester' + x + ':' + lang[x])

TypeError: can only concatenate str (not "int") to str

In [185]:
list(range(5))

[0, 1, 2, 3, 4]

* KeyError suggests there is 0 key to be retrieved
* using "get" insread of "[]" returns "None" rather than an error

In [195]:
for x in range(5):
    print(lang.get(x))

None
Python
R
Julia
Javascript

* Although this worked... Dont be that guy
* For **dict** remember : items, keys, values

In [179]:
lang.keys()

dict_keys([1, 2, 3, 4, 5])

In [180]:
lang.values()

dict_values(['Python', 'R', 'Julia', 'Javascript', 'SQL'])

* How to access keys and values at the same time

In [189]:
for k,v in zip(lang.keys(),lang.values()):
    print(k,v)

1 Python
2 R
3 Julia
4 Javascript
5 SQL

* Keep **zip** handy
* Even better though :

In [178]:
lang.items()

dict_items([(1, 'Python'), (2, 'R'), (3, 'Julia'), (4, 'Javascript'), (5, 'SQL')])

* Notice the 'f string' in the print statement

In [181]:
for k,v in lang.items():
    print(f'Semester {k} : Practice {v}')
    print(50 * '=')

Semester 1 : Practice Python
==================================================
Semester 2 : Practice R
==================================================
Semester 3 : Practice Julia
==================================================
Semester 4 : Practice Javascript
==================================================
Semester 5 : Practice SQL
==================================================

* How can we adjust the index so that is starts from 0?

In [190]:
lang

{1: 'Python', 2: 'R', 3: 'Julia', 4: 'Javascript', 5: 'SQL'}

In [198]:
newdict = {}
for i,x in enumerate(lang.items()):
    print(f'enumerate part : {i} <---> itens part : {x}')
    newdict[i] = x[1]

enumerate part : 0 <---> itens part : (1, 'Python')
enumerate part : 1 <---> itens part : (2, 'R')
enumerate part : 2 <---> itens part : (3, 'Julia')
enumerate part : 3 <---> itens part : (4, 'Javascript')
enumerate part : 4 <---> itens part : (5, 'SQL')

In [199]:
newdict

{0: 'Python', 1: 'R', 2: 'Julia', 3: 'Javascript', 4: 'SQL'}

* How could we make keys to be values, values to be keys and adjust index to start from 0, all at the same time?
* **Reverse a dictionary**

In [239]:
lang

{1: 'Python', 2: 'R', 3: 'Julia', 4: 'Javascript', 5: 'SQL'}

In [240]:
newestdict = {v[1]:k for k,v in enumerate(lang.items())}
newestdict

{'Python': 0, 'R': 1, 'Julia': 2, 'Javascript': 3, 'SQL': 4}

* Read this for more info on [How to sort a dictionary](https://realpython.com/sort-python-dictionary/)

* We could even use a tuple as the dictionary keys

In [202]:
what_a_dict = {(k,v[0]):v[1] for k,v in enumerate(lang.items())}
what_a_dict

{(0, 1): 'Python',
 (1, 2): 'R',
 (2, 3): 'Julia',
 (3, 4): 'Javascript',
 (4, 5): 'SQL'}

In [241]:
what_to_find = (0,1)
what_to_find

(0, 1)

In [242]:
type(what_to_find)

tuple

In [243]:
what_a_dict[what_to_find]

'Python'

In [244]:
what_a_dict.get(what_to_find)

'Python'

* Some **Extras**
* what methods, functions the dict object exposes?

In [162]:
dir(lang)[::5]

['__class__',
 '__dir__',
 '__getattribute__',
 '__init_subclass__',
 '__lt__',
 '__reduce_ex__',
 '__setitem__',
 'copy',
 'pop']

In [147]:
[x for x in dir(lang) if not x.startswith('__')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [165]:
for x in ['items','keys','values']:
    print(f'* {x} : {getattr(lang,x)()}')

* items : dict_items([(1, 'Python'), (2, 'R'), (3, 'Julia'), (4, 'Javascript'), (5, 'SQL')])
* keys : dict_keys([1, 2, 3, 4, 5])
* values : dict_values(['Python', 'R', 'Julia', 'Javascript', 'SQL'])

In [168]:
getattr(lang,'keys')

* Notice the brackets at the end .. these denote is a function call

In [169]:
getattr(lang,'keys')()

dict_keys([1, 2, 3, 4, 5])

* Alternatively we could do :

In [188]:
lang.__getattribute__('keys')()

dict_keys([1, 2, 3, 4, 5])

* All the languages starting from 'J' are not directly relevant at this point in time, so lets discard those from the dictionary.

In [225]:
lang

{1: 'Python', 2: 'R', 3: 'Julia', 4: 'Javascript', 5: 'SQL'}

In [226]:
lang_not_j = {k:v for k,v in lang.items() if not v.startswith('J')}
lang_not_j

{1: 'Python', 2: 'R', 5: 'SQL'}

### DataFrames

* First we need to import pandas
* If not installed, or we need to update the library version, we can do so directly from jupyter notebook
* Any command prefaced with "!" will be executed by the underlying kernel - this is jupyter specific

In [ ]:
!pip install --upgrade pandas

In [245]:
import pandas as pd

In [246]:
print(pd.__version__)

1.4.2

In [247]:
lang

{1: 'Python', 2: 'R', 3: 'Julia', 4: 'Javascript', 5: 'SQL'}

In [253]:
df = pd.DataFrame().from_dict(lang,orient='index',columns = ['language'])
df

     language
1      Python
2           R
3       Julia
4  Javascript
5         SQL

* Basic functions on dataframes

In [256]:
df.shape

(5, 1)

In [261]:
df.dtypes

language    object
dtype: object

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   language  5 non-null      object
dtypes: object(1)
memory usage: 80.0+ bytes

In [265]:
df.head(3)

  language
1   Python
2        R
3    Julia

In [266]:
df.tail(93)

     language
1      Python
2           R
3       Julia
4  Javascript
5         SQL

In [268]:
df.describe(include='all')

       language
count         5
unique        5
top      Python
freq          1

* The anatomy of a dataframe includes the following : 
    1. columns 
    2. index
    3. values
* [Check this link](https://towardsdatascience.com/how-to-master-pandas-for-data-science-b8ab0a9b1042) for a better regarding the **anatomy** of a dataframe understanding

In [257]:
df.columns

Index(['language'], dtype='object')

In [258]:
df.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [260]:
type(df.values)

numpy.ndarray

In [271]:
type(df.language)

pandas.core.series.Series

### Summary

* **list** [append, extend, pop, len]
* **dictionary** [get,items,values,keys]
* their comprehensions
* set, tuple, dataframe
* conditional statements
* zip, enumerate
* type(), dir(), getattrr() of an object