In [91]:
import pandas as pd
import numpy as np
from datetime import datetime
import pickle

* Read pickle file

In [102]:
df = pd.read_pickle("df.pkl")
df = df.drop_duplicates()
df = df.query("airport != 'PSC'").reset_index(drop = True)

â€¢ Which airport tends to have the greatest delays?

In [103]:
df['total_delay'] = df[[x for x in df.columns if "delay" in x]].sum(axis = 1)

In [104]:
# df_grouped = df.groupby(['airport_name','year','month'])
df_grouped = df.groupby(['airport_name'])
airport_with_most_delay = df_grouped.agg(value = ("total_delay","sum")).sort_values(by=["value"],ascending=False).index.tolist()[0]
value_with_most_delay   = df_grouped.agg(value = ("total_delay","sum")).sort_values(by=["value"],ascending=False).value.tolist()[0]
print(f'The airport with the most delay time is {airport_with_most_delay} and that time is in total for all the months of analysis {value_with_most_delay} seconds.')

The airport with the most delay time is Dallas/Fort Worth International and that time is in total for all the months of analysis 14642258 seconds.

* Wide to Long  /// Long to Wide

In [105]:
id_vars_long =['day', 'year', 'month', 'carrier','airport_name']
df_long = pd.melt(df, id_vars=id_vars_long, var_name='variable', value_name='value', ignore_index=True).sort_values(by = ['airport_name']).drop_duplicates().reset_index(drop = True)
df_long.head()

   day  year  month carrier       airport_name          variable         value
0    1  2021      8      OO  Aberdeen Regional     arrival_delay           815
1    1  2022      3      OO  Aberdeen Regional        state_name  South Dakota
2    1  2022      8      OO  Aberdeen Regional          week_day        Monday
3    1  2022      3      OO  Aberdeen Regional     weather_count           3.0
4    1  2022      8      OO  Aberdeen Regional  arrival_diverted           1.0

In [107]:
index_vars_long =['day', 'year', 'month', 'carrier','airport_name']
pd.pivot(df_long, index = index_vars_long,columns = 'variable', values = 'value').sort_index(level=[1,0]).reset_index()

variable,day,year,month,carrier,airport_name,airport,arrival_cancelled,arrival_del15,arrival_delay,arrival_diverted,...,quarter,quarter_w_cut,security_count,security_delay,state,state_name,total_delay,weather_count,weather_delay,week_day
0,1,2021,1,9E,Albany International,ALB,0.0,10.0,430,0.0,...,1,1,0.0,0,NY,New York,860,0.0,0,Friday
1,1,2021,1,9E,Albert J Ellis,OAJ,0.0,8.0,2054,2.0,...,1,1,0.0,0,NC,North Carolina,4108,3.0,1875,Friday
2,1,2021,1,9E,Alexandria International,AEX,0.0,7.0,969,0.0,...,1,1,0.0,0,LA,Louisiana,1938,1.0,541,Friday
3,1,2021,1,9E,Appleton International,ATW,0.0,17.0,1928,1.0,...,1,1,0.0,0,WI,Wisconsin,3856,2.0,922,Friday
4,1,2021,1,9E,Asheville Regional,AVL,0.0,5.0,740,0.0,...,1,1,0.0,0,NC,North Carolina,1480,1.97,611,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33490,1,2022,8,YX,Tulsa International,TUL,1.0,8.0,305,0.0,...,3,3,0.0,0,OK,Oklahoma,610,0.54,30,Monday
33491,1,2022,8,YX,Washington Dulles International,IAD,29.0,77.0,6770,0.0,...,3,3,0.0,0,DC,District Of Columbia,13540,5.6,369,Monday
33492,1,2022,8,YX,Will Rogers World,OKC,7.0,18.0,768,3.0,...,3,3,0.0,0,OK,Oklahoma,1536,0.0,0,Monday
33493,1,2022,8,YX,Wilmington International,ILM,10.0,27.0,1369,0.0,...,3,3,0.0,0,NC,North Carolina,2738,1.33,36,Monday
33494,1,2022,8,YX,Worcester Regional,ORH,0.0,4.0,271,0.0,...,3,3,0.0,0,MA,Massachusetts,542,0.0,0,Monday

### Could not make it work wide_to_long()
df_delay = df.filter(regex="date|airport_name|delay").groupby(['date','airport_name']).sum().reset_index()
delay_cols = [col for col in df_delay.columns if 'delay' in col]
delay_cols = [s.replace('delay', '') for s in delay_cols]

pd.wide_to_long(df_delay, stubnames=delay_cols, i=['date', 'airport_name'], j='variable')